@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background: #000000;
  color: #dadada;
  font-family: 'Inter', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px;
}

.logo {
  font-weight: 800;
}


.hero-content {
  margin: 20px;
}

.languages img {
  width: 100px;
  margin: 10px;
  padding: 5px;
}

.avatar img {
  width: 500px;
  margin: 0 auto;
}